.favourite {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray-1-color);
  background-color: transparent;

  border: none;
  cursor: pointer;
  transition: all linear 0.25s;

  &.active {
    color: var(--red-color);
  }
}
