.menu-listing {
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    padding: 10px 0;
    display: block;

    background-color: transparent;
    color: var(--text-color);

    font-size: 1.4rem;

    border: none;
    transition: all linear 0.25s;
    cursor: pointer;
    text-transform: capitalize;

    &:hover,
    &.active {
      color: var(--primary-color);
    }

    &.active {
      cursor: default;
      pointer-events: none;
    }
  }
}
