.heading {
  &__value {
    margin: 0;

    font-size: 3rem;
    font-weight: 600;
    line-height: 1;

    color: var(--text-color);
  }

  &__desc {
    font-size: 1.4rem;
    font-weight: 500;
    display: block;

    color: var(--primary-text-color);
    margin-top: 10px;
  }
}
