.search-value {
  display: flex;
  align-items: center;

  &__label {
    margin-left: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__icon {
    font-weight: 500;
    font-size: 2rem;
  }
}
