.cart-page-listing {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 30px;

    &__btn {
      border: none;
      background-color: transparent;

      cursor: pointer;
    }
  }

  &__table {
    td,
    a,
    span {
      font-weight: 500;
      font-size: 1.3rem;
    }

    th.ant-table-cell {
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}
